{% extends "courser/base.html" %}

{% block content %}

<strong>List of all available courses:</strong></br></br>
        {% if courses_list %}
            {% for course in courses_list %}
                <div class="row panel panel-default">
                    </br>
                    <div class="col-md-2">
                            <img src="{{ course.course_cover.url }}" alt="NIMA" width="100" height="100">
                    </div>
                    <div class="col-md-10">
                        <div class="col-xs-2">
                                <a href="{% url 'courser:detail' course.id %}">{{course.course_name}}</a>
                            </div>
                            <div class="col-xs-9">
                                {{ course.course_desc }}
                            </div>
                            <div class="col-xs-1 text-primary">
                                Only {{ course.course_price }}$!
                            </div>
                    </div>
                    </br>
                </div>
                </br></br>

            {% endfor %}
        {% else %}
            <p>No courses are available.</p>
        {% endif %}

{% endblock content %}

